.button {
    -fx-border-radius: 20px; /* Isso define as bordas redondas */
    -fx-text-decoration: none;
    -fx-text-align: center;
    -fx-font-weight: bold;
    -fx-cursor: pointer;
}

/* Estilo padrão do fundo do botão (pode ser substituído) */
.button-default {
    -fx-background-color: #14161c; /* Cor de fundo padrão */
    -fx-color: #814fff; /* Cor do texto no botão */
    -fx-border-radius: 90px;
    -fx-cursor: pointer;
}

/* Exemplo de estilo alternativo */
.button-entrar {
    -fx-background-color: #814fff; /* Cor de fundo personalizada */
    -fx-color: #fff; /* Cor do texto no botão */
    -fx-background-radius: 15;
    -fx-cursor: pointer;
}

/* Exemplo de estilo adicional */
.button-registrar {
    -fx-background-color: #14161c; /* Outra cor de fundo personalizada */
    -fx-color: #fff; /* Cor do texto no botão */
    -fx-border-radius: 20px;
    -fx-cursor: pointer;
}

.textfield {
    -fx-padding: 8px; /* Ajuste o preenchimento conforme necessário */
    -fx-border-radius: 20px; /* Isso define as bordas redondas */
    -fx-border: 2px solid #814fff; /* Cor da borda padrão */
    -fx-font-size: 16px; /* Tamanho da fonte */
}

/* Exemplo de estilo com cor de fundo personalizada */
.textfield-custom {
    -fx-background-color: #14161c; /* Cor de fundo personalizada */
    -fx-color: #FFFFFFFF; /* Cor do texto no textfield */
    -fx-border-color: #814fff; /* Cor da borda personalizada */
    -fx-border-radius: 20px; /* Isso define as bordas redondas */
    -fx-padding: 0 16;
}

/* Exemplo de estilo adicional */
.textfield-secondary {
    -fx-background-color: #2ecc71; /* Outra cor de fundo personalizada */
    -fx-color: #fff; /* Cor do texto no textfield */
    -fx-border-color: #27ae60; /* Outra cor de borda personalizada */
}